.home-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-wrapper span {
	font-size: 6rem;
	line-height: 1.1;
	margin-bottom: 20px;
}

.home-wrapper a {
	font-size: 6rem;
}
