.game-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.start-btn {
	width: 200px;
	height: 36px;
	margin-bottom: 36px;
	font-size: 18px;
	cursor: pointer;
	color: #fff;
	outline: none;
	background-color: #94d6ba;
	border: none;
	border-radius: 6px;
	transition: 0.3s all ease;
}

.start-btn:hover {
	background-color: #fff;
	color: #94d6ba;
}

.start-btn:active {
	transform: scale(0.9);
}

.game-info {
	font-size: 26px;
	color: #fff;
}

.square {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	font-size: 60px;
	background-color: #94d6ba;
	border: 1px solid #64ac8f;
	color: #fff;
	cursor: pointer;
	outline: none;
	transition: 0.3s background-color ease;
}

.square:hover {
	background-color: #f0f0f0;
	color: #4a4040;
}

.board {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	height: 300px;
	box-shadow: -2px 13px 70px 9px rgba(0, 0, 0, 0.75);
	margin-bottom: 56px;
}
