.square {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	font-size: 60px;
	background-color: #94d6ba;
	border: 1px solid #64ac8f;
	color: #fff;
	cursor: pointer;
	outline: none;
	transition: 0.3s background-color ease;
}

.square:hover {
	background-color: #f0f0f0;
	color: #4a4040;
}
